#Region System
FEEDSTRINGS;
SKIPCHECK;
#EndRegion

[] = N: IF(ATTRS('SLS_PRICE_IND', !SLS_PRICE_IND, 'Corr_Histo_CDG') @= 'ind',
			IF(DB('SLS_PRICE', !'1_G_CURRENT_PHASE', !'1_G_PERIOD', !'1_G_SALES_ORG', !'1_G_DISTRIB_CHANNEL', !SLS_CUSTOMER_PRICE, !SLS_MATERIAL_PLAN_PRICE, !SLS_SALES_GROUP, !SLS_PRICE_IND|'_HISTO')<>0,
				DB('SLS_PRICE', !'1_G_CURRENT_PHASE', !'1_G_PERIOD', !'1_G_SALES_ORG', !'1_G_DISTRIB_CHANNEL', !SLS_CUSTOMER_PRICE, !SLS_MATERIAL_PLAN_PRICE, !SLS_SALES_GROUP, !SLS_PRICE_IND|'_HISTO'),
            	DB('SLS_PRICE', !'1_G_CURRENT_PHASE', !'1_G_PERIOD', !'1_G_SALES_ORG', !'1_G_DISTRIB_CHANNEL', !SLS_CUSTOMER_PRICE, !SLS_MATERIAL_PLAN_PRICE, !SLS_SALES_GROUP, !SLS_PRICE_IND|'_CDG')),
            CONTINUE);

Feeders;

[] => DB('SLS_PRICE',!'1_G_CURRENT_PHASE', !'1_G_PERIOD', !'1_G_SALES_ORG', !'1_G_DISTRIB_CHANNEL', 
		!SLS_CUSTOMER_PRICE, !SLS_MATERIAL_PLAN_PRICE, !SLS_SALES_GROUP, 
    	If(ATTRS('SLS_PRICE_IND', !SLS_PRICE_IND, 'Corr_Histo_CDG') @= 'ind_CDG',
        	SUBST(!SLS_PRICE_IND,1,SCAN('_CDG',!SLS_PRICE_IND)-1),
            If(ATTRS('SLS_PRICE_IND', !SLS_PRICE_IND, 'Corr_Histo_CDG') @= 'ind_HISTO',
            	SUBST(!SLS_PRICE_IND,1,SCAN('_HISTO',!SLS_PRICE_IND)-1),
                '' 
            )
         )
      );

